<p id="notice"><%= notice %></p>

<p>
  <strong>Product Name:</strong>
  <%= @product.name %>
</p>
<p><%= @product.categories %>


</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
